{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.job.label }}<br>
            {{ form.job() }}<br>
        </p>

        <p>
            {{ form.work_size.label }}<br>
            {{ form.work_size() }}<br>
        </p>

        <p>
            {{ form.collaborators.label }}<br>
            {{ form.collaborators() }}<br>
        </p>

        <p>
            {{ form.is_finished() }} {{ form.is_finished.label }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}