{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<a href="/addjob" class="button">Добавить новую работу</a>
{% endif %}
{% for job in jobs %}
<h2>Работа #{{ job.id }}</h2>
<table>
    <thead>
    <tr>
        <th>Название работы</th>
        <th>Ответственный</th>
        <th>Продолжительность (часы)</th>
        <th>Команда (ID)</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ job.job }}</td>
        <td>{{ job.user.surname }} {{ job.user.name }}</td>
        <td>{{ job.work_size }}</td>
        <td>{{ job.collaborators }}</td>
        <td>
            {% if job.is_finished %}
            <span class="text-success">Завершена</span>
            {% else %}
            <span class="text-danger">Не завершена</span>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

{% if (current_user.is_authenticated and current_user.id == job.team_leader) or (current_user.is_authenticated and current_user.id == 1) %}
<div>
    <a href="/job/{{ job.id }}">Изменить</a>
    <a href="/job_delete/{{ job.id }}" onclick="return confirm('Вы уверены, что хотите удалить эту работу?')">Удалить</a>
</div>
{% endif %}
<br>
{% endfor %}
{% endblock %}